.popup{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba($color-black, .8);
    z-index: 100;

    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    

    &__content{
        width: 75%;
        height: 50rem;
        background-color: $color-white;
        position: absolute;
        top: 50%;
        left: 50%;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: 3px;
        display: table;
        overflow: hidden;
        transform: translate(-50%, -50%);
    }

    &__left{
        width: 33.33333%;
        display: table-cell;
        overflow: hidden;
    }

    &__right{
        width: 66.6666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
    }

    &__image{
        display: block;
        width: 100%;
    }

    &__text{
        font-size: 1.4rem;
        margin-bottom: 4rem;

        column-count: 2;
    }

    &:target{
        opacity: 1;
        visibility: visible;
    }

    &:target &__content{
        
    }

    &__close{
        &:link,
        &:visited{
            color: $color-grey-dark;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            line-height: 1;
        }

        &:hover{
            color: $color-primary;
        }
    }
}